@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webfont: MangoGrotesque-Regular */
@font-face {
  font-family: 'MangoGrotesque';
  src: url('MangoGrotesque-Regular.eot');
  /* IE9 Compat Modes */
  src: url('MangoGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('MangoGrotesque-Regular.woff') format('woff'),
    /* Modern Browsers */
    url('MangoGrotesque-Regular.woff2') format('woff2'),
    /* Modern Browsers */
    url('MangoGrotesque-Regular.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  /* border: none; */
  text-decoration: none;
}


body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.custom-font {
  font-family: "MangoGrotesque", sans-serif;
  letter-spacing: 1px;
  font-size: 24px;
}

.custom-font-register {
  font-family: "MangoGrotesque", sans-serif;
  letter-spacing: 1px;
  font-size: 55px;
}

.custom-bg-register-organisasi {
  background-image: url(../assets/img/bg-register-organisasi.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}

.custom-bg-register-toko {
  background-image: url(../assets/img/bg-register-toko.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}

.hero-section {
  font-family: "MangoGrotesque", sans-serif;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 24px;
}

.headline-1{
  font-family: "MangoGrotesque", sans-serif;
  letter-spacing: 1px;
  line-height: 1;
}

.headline-2{
  font-family: "MangoGrotesque", sans-serif;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 90px;
}

.headline-3{
  font-family: "MangoGrotesque", sans-serif;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 90px;
}

.headline-4{
  font-family: "MangoGrotesque", sans-serif;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 96px;
}